.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 1.5rem;
  
  
}
.image {
  object-fit: cover;
}
.heading {
  font-size: 3rem;
  color: #0a165e;
  margin-top: 2rem;
}
.paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  color: #979899;
  
}
.bt {
  font-size: 1.1rem;
  background-color: #e2e3ec;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0a165e !important;
  margin: 0;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
  .image {
    width: 80%;
  }
  .heading {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1.3rem;
  }
}
