.container{
    width: 100vw;
    height: auto;
    padding: 4rem 1.5rem;
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;
    position: relative;
}
.left{
    width: 50vw;
    padding: 1.5rem 2rem ;
    
}
.right{
    width: 50vw;
    
}
.image1{
    width: 90%;
    overflow: hidden;
}
.image2{
    position: absolute;
    bottom: 0px;
    left: 270px;
    width: 25%;
    
}
.primaryImage{
    display: flex;
}
.heading{
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: #0A165E;
    margin-bottom: 2rem;
}
.paragraph{
    color: #2B4DFF;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    letter-spacing: -0.03em;
    color: gray;
    
}
.primaryButton{
    padding: 1rem 1.5rem;
    background-color: #2B4DFF;
    color: #ffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
/* .customers{
    display: flex;
    align-items: center;
    gap: 3rem;
    text-align: center;
}
.border{
    border-right: 1px solid grey ;
    padding-right: 4rem;
} */
.number{
    font-size: 3rem;
    font-weight: 600;
    color: #0A165E;
    margin-bottom: 1rem;
}
.para{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: grey;
}
.list{
    list-style-type:none;
    font: 1rem;
    
}
.list li{
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0A165E;
}
li > i{
  font-size: 1.5rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        padding: 2rem 1rem;
    }

    .left, .right {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .image1 {
        width: 90%;
        margin: 0 auto;
    }

   .image3{
    display: none;
   }
   
    .secondaryImage{
        display: none;
    }

    .customers {
        flex-direction: column;
        gap: 1.5rem;
    }

    .border {
        border-right: none;
        padding: 0;
    }

    .primaryButton {
        width: 100%;
        margin-top: 1rem;
    }
}
