/* customer section */
.subContainer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-top: 1rem;
  width: 90%;
  height: 60%;
}

.card {
  min-height: 350px;
  background: #FFFFFF;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.starContainer {
  padding: 0.5rem 0rem;
  margin-right: 8rem;
}
.starIcon {
  display: flex;
  color: #ecb014;
  font-size: 1.5rem;
  text-align: left;
}
.starIcon li {
  list-style-type: none;
}

.mainPara {
  font-size: 1.1rem;
  letter-spacing: 0.03em;
  color: #555;
  line-height: 1.8rem;
  text-align: justify;
  font-weight: 500;
  text-align: left;
}

.userInfo {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.heading {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0a165e;
  margin-bottom: 0.5rem;
}

.subPara {
  color: #888;
  font-size: 1rem;
}

.quoteImage {
  width: 70px;
  height: 70px;
  margin-top: 0.5rem;
  /* padding: 1rem; */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .reviewContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .reviewContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .card {
    padding: 1rem;
  }
}
