.container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: auto;
    padding: 4rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .header h1 {
    text-align: center;
    font-size: 3rem;
    color: #0a165e;
  }
  
  .viewAllButton {
    background-color: #2563eb;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .blogLayout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }
  
  .featuredCard {
    flex: 1;
    width: 65%;
    /* background-color: #7a5f5f; */
    border-radius: 2rem;
    /* position: relative; */
  }
  
  .featuredImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .featuredContent {
    /* position: absolute;
    bottom: 1rem;
    left: 1rem; */
    /* background: rgba(255, 255, 255, 0.9); */
    padding: 1rem;
    
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .featuredContent h2 {
    font-size: 1.2rem;
    color: grey;
  }
  
  .featuredContent p {
    font-size: 1.5rem;
    color: #0a165e;
    margin: 0.5rem 0;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .readMore {
    color: #2563eb;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .smallCards {
    width: 35%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardImage {
    width: 180px;
    height: 180px;
    border-radius: 8px;
  }
  
  .cardContent {
    flex: 1;
  }
  
  .cardContent h3 {
    font-size: 1.5rem;
    color: grey;
    margin: 0;
  }
  
  .cardContent p {
    font-size: 1.5rem;
    color: #0a165e;
    margin: 0.5rem 0;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .blogLayout {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .featuredCard {
      width: 100%;
    }
  
    .smallCards {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .card {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
      width: 100%;
    }
  
    .cardImage {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    .cardContent h3 {
      font-size: 1rem;
    }
  
    .cardContent p {
      font-size: 1rem;
    }
  
    .cardContent {
      padding: 0.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 1.4rem;
    }
  
    .viewAllButton {
      padding: 0.6rem 0.8rem;
      font-size: 0.8rem;
    }
  
    .featuredContent h2 {
      font-size: 1.2rem;
    }
  
    .featuredContent p {
      font-size: 1.2rem;
    }
  
    .readMore {
      font-size: 1.2rem;
    }
  
    .cardContent h3 {
      font-size: 0.9rem;
    }
  
    .cardContent p {
      font-size: 0.9rem;
    }
  }
  
  